<!DOCTYPE>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="app">
    <p v-if="mode == 1">Showing v-if directive content</p>
    <p v-else-if="mode == 2">Showing v-else-if directive content</p>
    <h3 v-else>Showing v-else directive content</h3>

    <select v-model="mode">
      <option value="1">v-if</option>
      <option value="2">v-else-if</option>
      <option value="3">v-else</option>
    </select>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>